<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Successful Purchase</h1>
        </div>
        <div class="success-message">
            <p>Congratulations! Your purchase was successful.</p>
            <p>Thank you for investing in the anime market.</p>
        </div>
        <a href="/" class="back-button">Back to Home</a>
    </div>
</body>
</html>
